#game-canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;
    height: 500px;
}
#fps {
    position: absolute;
    bottom: 0.5em;
    right: 0.2em;
    padding: 0.2em;
    line-height: 1.4em;
    background-color: #fff;
    color: #000;
    opacity: 0.5;
    min-width: 2.8em;
    white-space: nowrap;
}
